In [2]:
person={"name":"sanjeev"}
print(person.get("name"))
print(person.get("age","Age is not available"))

sanjeev
Age is not available

In [1]:
data={"sports":["baseball", "football"]}
print(data["sports"][0])

baseball

In [2]:
sports=["baseball", "football"]
sports_dict=dict(sports)

ValueError: dictionary update sequence element #0 has length 8; 2 is required

In [5]:
sports_dict=dict({"sports":sports})
print(sports_dict)

{'sports': ['baseball', 'football']}

In [6]:
name=input("Enter the name")
age=input("Enter the age")

per_dict={"name":name,
          "age":age
}

print(per_dict)

{'name': 'sanjeev', 'age': '50'}

In [8]:
pizza={
    "ingredients":['cheese','sausage','peppers']

}

print(pizza['ingredients'][0])
print(pizza['ingredients'][1])
print(pizza['ingredients'][2])

cheese
sausage
peppers

In [10]:
car ={"year": 2018}

try:
    del car["year"]
    print(car)

except:
    print("This key does not exist")

{}

In [12]:
person = {
    "name": "John",
    "age": 26
}

for key in person.keys():
    print(key)
    print(person[key])

name
John
age
26

In [13]:
person ={"name": "John",
        "age":26
    }

for value in person.values():
    print(value)

John
26

In [14]:
person ={"name": "john",
        "age": 26
        }

for key, value in person.items():
    print(f"{key}: {value}")

name: john
age: 26

In [15]:
person_dict={}
name=input("Name")
address=input("Address")
number=input("Number")
person_dict['name']=name
person_dict['address']=address
person_dict['number']=number

for key, value in person_dict.items():
    print(f"{key} {value}")

name Sanjeev
address Raleigh
number 9

In [17]:
# tuples
t1=(1,3,4)
t2=2,1
print(t1, type(t1))
print(t2, type(t2))

(1, 3, 4) <class 'tuple'>
(2, 1) <class 'tuple'>

In [19]:
s1=set([1,2,3,1])
s2={4,4,5}
print(s1,s2)
s1.add(5)
s1.remove(1)
print(s1)

{1, 2, 3} {4, 5}
{2, 3, 5}

In [20]:
fset=frozenset([1,2,3,4])
print(type(fset))

<class 'frozenset'>

In [28]:
from IPython.display import clear_output
bank_list=[]
def main():
    done=False
    while not done:
        ans=input("enter quit/add")
        if ans=="quit":
            done=True
        elif ans=="add":
            item=input("Enter a bank account")
            bank_list.append(item)
            print("bank list has been updated")
            clear_output()

main()
frozen_list=frozenset(bank_list)
print(frozen_list)

frozenset({'eegegg', 'dggddd', 'qeggdag'})

In [29]:
nums=[3,4,3,7,10]
set_nums=set(nums)
print(set_nums)

{10, 3, 4, 7}

In [30]:
f=open('test.txt', "w+")
f.write("this is test")
f.close()
f=open("test.txt","r")
data=f.read()
f.close()
print(data)

this is test

In [31]:
import csv
with open("test.csv", mode="w", newline="") as f:
    writer= csv.writer(f, delimiter=",")
    writer.writerow(["Name","City"])
    writer.writerow(["James", "USA"])

In [32]:
with open("test.csv", mode="r") as f:
    reader =csv.reader(f, delimiter=",")
    for row in reader:
        print(row )

['Name', 'City']
['James', 'USA']

In [33]:
ans=input("what is your favorite number")
textfile=open("num.txt","w")
textfile.write(ans)
textfile.close()

In [67]:
data = {
    'name':['Dave', 'Dennis', 'Peter', 'Jess'],
    "language":["Python", "C", "Java", "Python"]
}

import csv

with open('data.csv', mode='w', newline='') as f:
    writer = csv.writer(f, delimiter=',')
    writer.writerow(data.keys())
    
    for i in range(len(data['name'])):
        writer.writerow([data['name'][i], data['language'][i]])